body { 
    font-family: Arial, sans-serif; 
    text-align: center; 

    /* Radial gradient with opacity */
    background: radial-gradient(rgba(230, 100, 101, 0.7), rgba(145, 152, 229, 0.7)), url("images/gold-seamless.jpg");
    background-size: cover;
}

/* Centers the image */
.container { 
    margin-top: 50px; 
    text-align: center; 
}

img { 
    width: 300px; 
    display: block;  
    margin: auto;    
}


 /* Hyperlink related stuff */
 
 a {
    outline: none;
}

a:link {
    color:#6900ff ;
}

a:visited {
    color: #0414f7;
}

a:focus {
    text-decoration: none;
    background: #bae498;
}

a:hover {
    text-decoration: none;
    background: #cdfeaa;
}

a:active {
    background: #6900ff;
    color: #cdfeaa;
}
